* {
  margin: 0;
  padding: 0;
}
/* DatePickerStyles.css */

.react-daterange-picker__wrapper {
  width: 300px;
  height: 56px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
}

